//fonts
$robotoFont: 'Roboto', sans-serif;
$notoFont: 'Noto Sans JP', sans-serif;
$righteousFont: 'Righteous', cursive;

//colors
$white: #fff;
$background: #f5f6fa;
$mutedWhite: #ebeef2;
$borderColor: #ebeef2;
$fontColor: #323232;
$mutedFont: #6c757d;
$teal: #00bc8c;
$black: #000;
$red: #cc1414;
