@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
  @media screen and(max-width: 991.98px) {
    font-size: 14px;
  }
  @media screen and(max-width: 575.98px) {
    font-size: 13.5px;
  }
}
body {
  font-size: 1rem;
  font-family: $notoFont;
  color: $fontColor;
  background: $background;
}

.container-fluid {
  @media (min-width: 1500px) {
    max-width: 1450px;
  }
}
.swiper-container {
  max-width: 720px;
  @media screen and (max-width: 992px) {
    width: 100%;
    max-width: unset;
    margin-bottom: 1rem;
  }
}
.swiper-pagination-bullet {
  background: $mutedWhite !important;
  opacity: 0.8 !important;
  &.swiper-pagination-bullet-active {
    width: 30px !important;
    border-radius: 1rem;
    opacity: 1 !important;
    background: $white !important;
  }
}
